#header {
    background-color: orange;
    padding: 20px;
}

.header_text {
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}

p {
    font-size: 24px;
}

#userInput {
    width: 25%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
}

.submit_button {
    background-color: #008CBA;
    font-size: 16px;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 5px;
    width: 28.5%;
}

button {
    background-color: #FF8C00;
    font-size: 16px;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 5px;
    width: 28.5%;
}
